
@font-face {
    font-family: Myriad;
    src: url(../fonts/MyriadProRegular.ttf);
}
nav {
    z-index: 100;
}
.top-section{
    background: url(../img/Layer44.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:1000px;
    padding-top:24px;
    padding-left: 93px !important;
    padding-right: 93px !important;  
}
.top-section a{
    color:#FFF !important;
    font-family: 'Arial';
    /*font-family: 'Oswald', sans-serif;*/
    font-weight:700;
}
.top-section .navbar-brand{
    font-size: 92px;
    
}
.top-section .nav-link{
    text-transform: uppercase;
    font-size: 14px;
}
.x-sign{
    font-size: 12px;
    margin-right:9px;
    color: #ae9850;
    border: 1px solid #ae9850;
}
.pipe {
    font-weight: 700;
    margin-right: 14px;
    color: #8b7a40;
}
.social {
    position:relative;
    top:-41px;
    z-index: 63;
}
.social i {
    color: #8b7a40;
    border-radius: 100%;
    font-size: 16px;
    height: 31px;
    line-height: 28px;
    margin-right: 10px;
    text-align: center;
    width: 31px;
    border: 2px solid #8b7a40;
    background-color: #000;
}
.bg-intro{
    background: rgba(19,19,19,0.28);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 715px;
    height: 1000px;
    z-index: 60;
}
.bg-intro-cont{
    background: url(../img/intro-cont.png);
    position: absolute;
    left: 115px;
    top: 233px;
    width: 600px;
    height: 646px;
    z-index: 61;
}
.intro-text{
    padding:34px;
    position:absolute;
    left: 155px;
    top: 274px;
    width: 589px;
    height: 566px;
    background: rgba(19,19,19,1);
    background: -moz-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 43%, rgba(43,43,43,1) 66%, rgba(44,44,44,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(19,19,19,1)), color-stop(43%, rgba(17,17,17,1)), color-stop(66%, rgba(43,43,43,1)), color-stop(100%, rgba(44,44,44,1)));
    background: -webkit-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 43%, rgba(43,43,43,1) 66%, rgba(44,44,44,1) 100%);
    background: -o-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 43%, rgba(43,43,43,1) 66%, rgba(44,44,44,1) 100%);
    background: -ms-linear-gradient(left, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 43%, rgba(43,43,43,1) 66%, rgba(44,44,44,1) 100%);
    background: linear-gradient(to right, rgba(19,19,19,1) 0%, rgba(17,17,17,1) 43%, rgba(43,43,43,1) 66%, rgba(44,44,44,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#2c2c2c', GradientType=1 );
    -webkit-box-shadow: 0px 0px 32px 2px rgba(139,122,64,1);
    -moz-box-shadow: 0px 0px 32px 2px rgba(139,122,64,1);
    box-shadow: 0px 0px 32px 2px rgba(139,122,64,1);
    z-index: 62;
}
.intro-text>h1{
    color:#FFF;
    font-size: 63px;
    line-height: 1.121;
    text-align: left;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.84);
    margin-bottom:31px;
    font-family: 'Myriad';
}
.intro-text>p{
    color:#FFF;
    font-size: 24px;
    font-family: "Arial";
    color: rgb(255, 255, 255);
    line-height: 1.167;
    text-align: left;
}
.intro-text>button{
    color: #FFF;
    font-family: "Arial";
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    background-color: #ae9850;
    border: none;
    padding: 21px 89px;
    margin-top:44px;
}
.middle-section{
    position:relative;
    top:-44px;
    z-index: 150;
}
.middle-section>.row>.col-md-4>.col-md-12{
    height:700px;
    -webkit-box-shadow: 0px 0px 58px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 58px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 58px -6px rgba(0,0,0,0.75);
    margin-top:55px;
}
.middle-section>.row>.col-md-4:nth-of-type(2n)>.col-md-12{
    margin-top:0;
    height:800px;
}
.middle-section>.row>.col-md-4>.col-md-12>.first>.col-md-12>img,
.middle-section>.row>.col-md-4>.col-md-12>.second>.col-md-12>img,
.middle-section>.row>.col-md-4>.col-md-12>.third>.col-md-12>img{
    max-width: 70px;
}
.first {
    background: url(../img/test.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 10px 33px 35px 33px;
    min-height: 332px; 
}
.second {
    position: relative;
    background: url(../img/second.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 50px 33px 35px 33px;
    min-height: 380px;
}
.third {
    background: url(../img/third.png) no-repeat top center;
    background-size: 100% 100%;
    padding: 10px 33px 35px 33px;
    min-height: 332px;

}
.second>img {
    position: absolute;
    top:-7px;
    right:5px;
    max-width: 25%;
}
.first h3,.second h3,.third h3 {
    color: #FFF;
    text-transform: uppercase;
    font-family: 'Myriad';
    font-size: 1.5em;
    margin-top: 5%;
}
.first p,.second p,.third p{
    color: #FFF;
    font-family: 'Myriad';
    font-size: 1em;
    padding-bottom: 10%;
}
@media screen and (max-width:991px){
    .social {
        top:1px;
    }

}
@media screen and (max-width:768px){
   

}